.CommentInputBox{
    border:solid 1px #ccc;
    margin:0 auto;
    padding:10px;
    text-align: left;
}
.CommentInputBoxRow {
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}

.CommentInputBoxRow input {
    border:solid 1px #ccc;
    width: 200px;
    height:30px;line-height: 30px;
    outline: none;
}
.CommentInputBoxRow textarea{
    height:200px;
    outline: none;
    width: 500px;
}