.todoAdd{
    margin:10px;
}
.todoAdd .submitBtn{
    width: 50px;
    height: 22px;
    border-radius: 5px;
    background-color:  #FF4E00;
    margin-left:5px;
    color:#fff;
}
.todoAdd input{
    outline: none;
}