.todoItem{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin: 0 auto;
}
.todoItem .todoContent{
    width: 200px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap:break-word;
    text-align: left;
}
.todoItem  .btnWrap .finish{
    width: 40px;
    height: 20px;
    color:#fff;
    background-color: #FF4E00; 
    border-radius: 5px;  
}
.todoItem .btnWrap  .del{
    width: 40px;
    height: 20px;
    margin-left: 10px; 
    color: #fff;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.todoItem .show{
    display: block;
}
.todoItem .hidden {
    display: none;
}
.todoItem .done{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url('http://c2.xinstatic.com/f3/20180416/1840/5ad47da23e2e4430972.png') no-repeat center center / 80%;
}
