.add .inputWrap{
    margin: 10px;
}
.add .inputWrap .username{
    margin-right: 10px;
}
.add .content{
    margin: 10px;
    resize:none;
}
.add .submitBtn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #FF4E00;
    border-radius: 5px;
    margin: 0 auto;
    color:#fff;
}